body{
    background-color: rgb(203, 199, 199);
   
}
header{
    background-color: rgb(5, 147, 104);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 25px;
}
#head-1{
    background-color: black;
    height: 60px;
    font-size: 20px;
    justify-content: space-around;
}
#img-a{
    width: 100px;
    height: 40px;
    margin: 10px;
}
.hii span{
    margin-right: 4rem;
}
.hii span:hover{
    
    color: blue;
}



#card1,#card2,#card3,#card4{
    display: inline-block;
    width: 360px;
    height: 230px;
    background-color:rgb(143, 141, 141);
    border-radius: 10px;
    vertical-align: top;
    margin-left: 10px;
}
#part-1{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 160px;
    width: 340px;
    background-color: white;
    padding: 10px;
}
button{
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 40px;
    font-size: 10px;
    color: white;
    float: right;
    
}
#span-1{
    color: red;
    font-size: 20px;
}
#SCHEDULE{
    float: right;
    margin-top: 10px;
}
#header-2{
    background-color:white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: black;
    
    
}
#d-p0{
    display: inline-block;
    font-size: 30px;
    margin: 5px;
}
#d-p1,#d-p2,#d-p3,#d-p4,#d-p5{
   background-color: rgb(241, 237, 237);
padding: 10px;
   margin: 5px;
   font-size: 20px;
}

#div1{

    
    
    display: inline-block;
    vertical-align: top;

}
#box1{
    
    background-color: white;
    height: 1010px;
    width: 360px;
    
    
    padding: 10px;
}
#box2{
    position: relative;
    background-color: white;
    width: 360px;
    
    padding: 10px;
    
    top: -15px;
}
h3{
    color: green;
}

p{
    color: rgb(148, 145, 145);
}
#div2{
    display: inline-block;
    
    
    
}
#boxa{

    background-color: white;
    width: 600px;
    padding: 10px;
    
}
#boxb{
    position: relative;
    background-color: white;
    width: 600px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
    top: -15px;
    left:-10px;
}
#div3{
    vertical-align: top;
    margin-left: -10px;
    display: inline-block;
}
#div-a{
    padding: 10px;
    background-color: white;
    width: 470px;
    
  
}
#div-b{
    background-color: white;
    width: 490px;
    position: relative;
    top: -15px;
}



a{
    text-decoration: none;
}
