body{
    background-color: rgb(180, 147, 147);
   
}
header{
    background-color: rgb(5, 147, 104);
    justify-content: space-around;
    align-items: center;
    display: flex;
    color: white;
    font-size: 25px;
   
}
#img-a{
    width: 100px;
    height: 40px;
    margin: 10px;
    
}
span:hover{
    display: inline-block;
    color: rgb(38, 81, 119);
}
#card1,#card2,#card3,#card4{
    display: inline-block;
    width: 360px;
    height: 230px;
    background-color: gray;
    border-radius: 10px;
    vertical-align: top;
}
#part-1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 160px;
    background-color: white;
    padding: 10px;
}
button{
    border-radius: 10px;
    background-color: red;
    height: 20px;
    width: 40px;
    font-size: 10px;
    color: white;
    float: right;
    
}
span-1{
    color: red;
    font-size: 20px;
}
#p-2{
    float: right;
    margin-top: 10px;
}

